# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/AnagramGame/nbproject/private/
/AnagramGame1/nbproject/private/
/HelloWorld/dist/
/GaussSum/dist/
/AnagramGame/build/
/ArrayPrac1/dist/
/Sort1/dist/
/Test1/dist/
/Scanner1/target/
/HelloWorld1/target/